<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="../styles/main.css" /> -->
    <link rel="stylesheet" href="../styles/orderDashboard.css" />
    <title>Order Dashboard</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto px-3">
          <li class="nav-item active">
            <a href="/orderDashboard" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/orderDashboard/products" class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a href="/orderDashboard/hampers" class="nav-link">Hampers</a>
          </li>
          <li class="nav-item">
            <a href="/orderDashboard/customers" class="nav-link">Customers</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-light mx-3" onclick="redirect('/logout')">Logout</button>
    </nav>

    <!-- Title -->
    <h1 class="w-100 text-center mt-5 mb-4">Order Dashboard</h1>

    <!-- Add Order Button Container -->
    <div class="container mt-4 w-50 d-flex justify-content-center ">
      <button class="btn btn-primary text-center w-25" onclick="redirect('/addOrder')">Add Order</button>
    </div>

    <!-- Page Selector -->
    <div class="container mx-auto mt-3 w-50">
      <nav aria-label="Page navigation" class="mx-auto">
        <ul class="pagination">
          <% if(page > 1) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= page-1 %>">Previous</a></li>
          <% } %>
          <% for(let i=0; i<totalPages; i++) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= i+1 %>"><%= i+1 %></a></li>
          <% } %>
          <% if(page < totalPages) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= page+1 %>">Next</a></li>
          <% } %>
        </ul>
      </nav>
    </div>

    <!-- Order Container -->
    <div class="container mt-4 w-50">
      
      <div class="accordion" id="accordionExample">
        <% slicedData.forEach(order => { %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Order by <%= order.customerName%> due on <%= order.deliveryDate %>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body position-relative">
              <div class="container position-absolute top-0 end-0 pt-4 w-50 text-end pe-4 ps-0">
                <button class="btn btn-primary order-button" onclick="redirect('/orderDashboard/editOrder/<%= order._id %>')">Edit</button>
                <button class="btn btn-danger order-button"  onclick="redirect('/orderDashboard/deleteOrderConfirm/<%= order._id %>')">Delete</button>
                <button class="btn btn-success   order-button"  onclick="redirect('/orderDashboard/sendOrderConfirm/<%= order._id %>')">Send</button>
              </div>
              

              Customer Name: <%= order.customerName %> <br>
              Customer Address: <%= order.customerAddress %> <br>
              Customer Note: <%= order.customerNote %> <br> <br>

              Delivery Date: <%= order.deliveryDate %> <br>
              Order Note: <%= order.details %> <br> <br>

              <div
                class="table-responsive"
              >
                <table
                  class="table table-hover table-borderless align-middle text-start"
                >
                  <thead>
                    <tr>
                      <th>Product / Hamper Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <% var total = 0; %>
                    <% order.productContent.forEach(product => { %>
                      <tr>
                        <td><%= product.name %></td>
                        <% if(product.discount === 0) { %>
                          <td><%= product.priceValue %> (<%= product.priceType %>)</td>
                          <% var subtotal = product.priceValue; %>
                        <% } else { %>
                          <% var discountValue = parseInt(product.priceValue * product.discount / 100); %>
                          <% var subtotal = product.priceValue - discountValue; %>
                          <td><%= product.priceValue %> (<%= product.priceType %>) <br> -  <%= discountValue %> (<%= product.discount %>%) <br> = <%= subtotal %></td>
                        <% } %>
                        <td><%= product.quantity.$numberDecimal %></td>
                        <td>Rp <%= subtotal * product.quantity.$numberDecimal %></td>
                        <% total += subtotal * product.quantity.$numberDecimal; %>
                      </tr>
                    <% }) %>
                    <% order.hamperContent.forEach(product => { %>
                      <tr>
                        <td><%= product.name %></td>
                        <% if(product.discount === 0) { %>
                          <td><%= product.priceValue %> (<%= product.priceType %>)</td>
                          <% var subtotal = product.priceValue; %>
                        <% } else { %>
                          <% var discountValue = parseInt(product.priceValue * product.discount / 100); %>
                          <% var subtotal = product.priceValue - discountValue; %>
                          <td><%= product.priceValue %> (<%= product.priceType %>) <br> -  <%= discountValue %> (<%= product.discount %>%) <br> = <%= subtotal %></td>
                        <% } %>
                        <td><%= product.quantity.$numberDecimal %></td>
                        <td>Rp <%= subtotal * product.quantity.$numberDecimal %></td>
                        <% total += subtotal * product.quantity.$numberDecimal; %>
                      </tr>
                    <% }) %>

                    
                    <tr>
                      <td colspan="3" style="text-align: right;"><strong>Total</strong></td>
                      <td>Rp <%= total %></td>
                    </tr>

                    <% if(order.orderDiscount !== 0) { %>
                      <tr>
                        <td colspan="3" style="text-align: right;"><strong>Discount (<%= order.orderDiscount %>%)</strong></td>
                        <td>Rp <%= parseInt(order.orderDiscount * total / 100) %></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: right;"><strong>Final Total</strong></td>
                        <td>Rp <%= total - parseInt(order.orderDiscount * total / 100) %></td>
                      </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    
                  </tfoot>
                </table>
              </div>
              
              
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      
    </div>

  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script>
    function redirect(domain) {
      window.location.href = domain
    }
  </script>
</html>
